<form method = "POST" action="/new">
    <label for ="UserName">Name:</label>
    <input type="text", id="UserName" name="UserName" required>

    <label for ="message">Message:</label>
    <textarea id ="message" name = "message" required></textarea>

    <button type ="submit">Submit</button>
</form>